#wrap {
    width: 100%;
    background-color: black;
}


#header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #fff;
}

#nav {
    margin: 0 auto;
    width: 1300px;
    height: 120px;
}

#nav .nav_box {
    margin: 0 auto;
    width: 750px;
    height: 120px;
}

#nav ul {
    float: left;
}

#nav li {
    float: left;
    margin: 60px 70px 0 20px;
}

#nav a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}



/*프로필*/

#contents {
    width: 100%;
}

#profile {
    margin: 0 auto;
    width: 1300px;
    height: 900px;
}

#profile_h {
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

#profile_h h2 {
    padding: 50px 150px 0 0;
    text-align: right;
    font-size: 80px;
    color: white;
    line-height: 10px;
}

#profile_b {
    width: 100%;
    height: 700px;
}

#profile_b .box {
    margin-left: 25px;
    width: 1300px;
}

#profile_b .pic {
    margin-top: 100px;
    float: left;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}

#profile_b .pic ul {
    position: relative;
    margin: 40px;
    width: 320px;
    height: 320px;
}

#profile_b .pic li {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#profile_b .pic li:nth-child(1) {
    left: 0;
}


#profile_b .pic img {
    width: 100%;
    height: 100%;
}


#profile_b .con {
    margin-top: 100px;
    float: left;
    width: 850px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}

#profile_b .con h3 {
    margin: 30px 0 0 40px;
    font-size: 50px;
    color: tan;
}

#profile_b .c_box {
    margin: 90px 0 0 40px;
    width: 610px;
    height: 170px;
}

#profile_b .c_box h3 {
    margin: 15px 0 30px 0;
    font-size: 25px;
    font-weight: 500;
    color: darkcyan;
}

#profile_b .c_box h4 {
    font-size: 15px;
}