@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ margin:0; padding:0;
         font-family:"맑은 고딕";
		 font-size:12px;
		 color:#333;}
img{ border:0;}
a{ text-decoration:none; color:#333;}
ul, li{ list-style:none;}		 
